openapi: 3.0.0
info:
  contact:
    email: dsgamer777@gmail.com
    name: Omado
    url: https://twitter.com/shallow_omado
  description: Accounts related api (required)
  license:
    name: AGPLv3
    url: https://www.gnu.org/licenses/agpl-3.0.ja.html
  title: UsagiBooru Accounts API
  version: "2.0"
servers:
- description: Prod
  url: https://api.gochiusa.team
- description: Staging
  url: https://api-next.gochiusa.team
- description: Dev
  url: http://127.0.0.1:8080
security:
- Authorization: []
tags:
- name: mylist
- name: notify
- name: timeline
- name: accounts
- name: mutes
paths:
  /accounts:
    post:
      description: 新しいアカウントを作成します
      operationId: createAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountStruct'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountStruct'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Bad Request
      security: []
      summary: Create account
      tags:
      - accounts
  /accounts/login/form:
    post:
      description: IDとパスワードを用いてユーザー認証し、APIトークンを発行します
      operationId: loginWithForm
      requestBody:
        content:
          application/json:
            examples:
              admin:
                value:
                  id: test_admin
                  password: this_is_only_for_test
              user:
                value:
                  id: test_user
                  password: this_is_only_for_test
            schema:
              $ref: '#/components/schemas/PostLoginWithFormRequest'
        description: ユーザーIDとパスワードをパラメータに取ります
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostLoginWithFormResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Bad Request
      security: []
      summary: Login with form
      tags:
      - accounts
  /accounts/login/reset_password:
    post:
      description: 指定されたメールアドレスにパスワード再発行メールを送信します
      operationId: reissuePassword
      requestBody:
        content:
          application/json:
            examples:
              admin:
                value:
                  mail: dsgamer777@gmail.com
            schema:
              $ref: '#/components/schemas/PostResetPasswordRequest'
        description: メールアドレスをリクエストに取ります
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Bad Request
      security: []
      summary: Reset password
      tags:
      - accounts
  /accounts/me:
    get:
      description: |-
        自分自身にまつわる情報をすべて取得します
        通常、ログイン時に一度だけ呼び出されます
      operationId: getAccountMe
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountStruct'
          description: OK
      summary: Get user info (self)
      tags:
      - accounts
  /accounts/{accountID}:
    delete:
      description: |-
        アカウントを削除します
        (本人または管理者のみがリクエストできます)
      operationId: deleteAccount
      parameters:
      - description: 取得したいユーザーのアカウントID
        explode: false
        in: path
        name: accountID
        required: true
        schema:
          type: integer
        style: simple
      - description: 削除確認用パスワード
        explode: false
        in: header
        name: password
        required: false
        schema:
          type: string
        style: simple
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: No Content
        "403":
          content:
            application/json:
              examples: {}
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Not Found
      summary: Delete account info
      tags:
      - accounts
    get:
      description: ユーザーのアカウント情報を取得します
      operationId: getAccount
      parameters:
      - description: 取得したいユーザーのアカウントID
        explode: false
        in: path
        name: accountID
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountStruct'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Not Found
      summary: Get account info
      tags:
      - accounts
    patch:
      description: |-
        アカウント情報を編集します
        (本人または管理者のみがリクエストできます)
      operationId: editAccount
      parameters:
      - description: 取得したいユーザーのアカウントID
        explode: false
        in: path
        name: accountID
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              example:
                value:
                  userDisplayID: omado
                  userFavorite: 1
                  userLineID: dosugamea
                  userName: お窓
                  userOldPassword: h0t0c0c0a
                  userPassword: kafuuch1n0
                  userPermission: 0
                  userTheme: 0
                  userTwitterID: shallow_omado
            schema:
              $ref: '#/components/schemas/AccountStruct'
        description: |-
          ユーザー本人、もしくは管理者のみデータを変更できます
          変更したいカラムを与え、値に変更後の値を与えると変更できます
          パスワードを変更する場合のみ、例外的に現在のパスワードが要求されます
      responses:
        "200":
          content:
            application/json:
              examples: {}
              schema:
                $ref: '#/components/schemas/AccountStruct'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Not Found
      summary: Edit account info
      tags:
      - accounts
  /accounts/{accountID}/mutes:
    get:
      description: 指定したアカウントのユーザーのミュート一覧を取得します
      operationId: getMutes
      parameters:
      - description: 対象のアカウントID
        explode: false
        in: path
        name: accountID
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMutesResponse'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Not Found
      summary: Get mute list
      tags:
      - mutes
    post:
      description: 指定したアカウントのユーザーのミュートを追加します
      operationId: addMute
      parameters:
      - description: 対象のアカウントID
        explode: false
        in: path
        name: accountID
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MuteStruct'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MuteStruct'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Too Many Requests
      summary: Add mute
      tags:
      - mutes
  /accounts/{accountID}/mutes/{muteID}:
    delete:
      description: 指定したミュート情報を削除します
      operationId: deleteMute
      parameters:
      - description: 対象のアカウントID
        explode: false
        in: path
        name: accountID
        required: true
        schema:
          type: integer
        style: simple
      - description: 対象のミュートID
        explode: false
        in: path
        name: muteID
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: No Content
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Not Found
      summary: Delete mute
      tags:
      - mutes
    get:
      description: 指定したミュート情報を取得します
      operationId: getMute
      parameters:
      - description: 対象のアカウントID
        explode: false
        in: path
        name: accountID
        required: true
        schema:
          type: integer
        style: simple
      - description: 対象のミュートID
        explode: false
        in: path
        name: muteID
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MuteStruct'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Not Found
      summary: Get mute
      tags:
      - mutes
  /accounts/{accountID}/mylists:
    get:
      description: 指定したユーザーのマイリスト一覧を取得します
      operationId: getUserMylists
      parameters:
      - description: 対象のアカウントID
        explode: false
        in: path
        name: accountID
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMylistListResponse'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Not Found
      summary: Get user mylists
      tags:
      - mylist
    post:
      description: マイリストを作成します
      operationId: createMylist
      parameters:
      - description: 対象のアカウントID
        explode: false
        in: path
        name: accountID
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MylistStruct'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MylistStruct'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Conflict
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Too Many Requests
      summary: Create user mylist
      tags:
      - mylist
  /accounts/{accountID}/notify/clients:
    get:
      description: 現在のユーザーが設定済みの通知クライアント一覧を取得します
      operationId: getNotifyClients
      parameters:
      - description: 取得対象のアカウントID
        explode: false
        in: path
        name: accountID
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNotifyClientsResponse'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Not Found
      summary: Get notify clients
      tags:
      - notify
  /accounts/{accountID}/notify/clients/line:
    post:
      description: '"ユーザー発行の"LINENotifyのトークンとデバイス名をPOSTして、通知クライアントの一種として保存する。(何個でも設定できる)'
      operationId: addLineNotifyClient
      parameters:
      - description: 対象のアカウントID
        explode: false
        in: path
        name: accountID
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRegisterLineNotifyRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotifyClientStruct'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Not Found
      summary: Create line notify client
      tags:
      - notify
  /accounts/{accountID}/notify/clients/web:
    post:
      description: |-
        クライアント側で作成したパブリック/プライベートVAPIDキーを
        userID、クライアント名、通知レベルと共にサーバーのデータベースに登録し
        通知クライアントの1種として保存する(何個でも設定できる)
      operationId: addWebNotifyClient
      parameters:
      - description: 取得対象のアカウントID
        explode: false
        in: path
        name: accountID
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRegisterWebPushRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotifyClientStruct'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Not Found
      summary: Create webpush notify client
      tags:
      - notify
  /accounts/{accountID}/notify/clients/{notifyClientID}:
    delete:
      description: 指定した通知クライアントを削除します
      operationId: deleteNotifyClient
      parameters:
      - description: 対象のアカウントID
        explode: false
        in: path
        name: accountID
        required: true
        schema:
          type: integer
        style: simple
      - description: 対象の通知クライアントID
        explode: false
        in: path
        name: notifyClientID
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: No Content
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Not Found
      summary: Delete notify client
      tags:
      - notify
    get:
      description: 指定した通知クライアント情報を取得します
      operationId: getNotifyClient
      parameters:
      - description: 対象のアカウントID
        explode: false
        in: path
        name: accountID
        required: true
        schema:
          type: integer
        style: simple
      - description: 対象の通知クライアントID
        explode: false
        in: path
        name: notifyClientID
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotifyClientStruct'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Not Found
      summary: Get notify client
      tags:
      - notify
    patch:
      description: 指定した通知クライアント情報を編集します
      operationId: editNotifyClient
      parameters:
      - description: 対象のアカウントID
        explode: false
        in: path
        name: accountID
        required: true
        schema:
          type: integer
        style: simple
      - description: 対象の通知クライアントID
        explode: false
        in: path
        name: notifyClientID
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotifyClientStruct'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotifyClientStruct'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Not Found
      summary: Edit notify client
      tags:
      - notify
  /accounts/{accountID}/notify/conditions:
    get:
      description: 通知条件一覧を取得します
      operationId: getNotifyConditions
      parameters:
      - description: 取得対象のアカウントID
        explode: false
        in: path
        name: accountID
        required: true
        schema:
          type: integer
        style: simple
      - description: 条件種別
        explode: true
        in: query
        name: type
        required: false
        schema:
          default: all
          enum:
          - all
          - tag
          - artist
          example: all
          maximum: 9
          minimum: 0
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNotifyConditionsResponse'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Not Found
      summary: Get notify conditions
      tags:
      - notify
    post:
      description: 通知条件を追加します
      operationId: registerNotifyCondition
      parameters:
      - description: 取得対象のアカウントID
        explode: false
        in: path
        name: accountID
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotifyConditionStruct'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotifyConditionStruct'
          description: OK
      summary: Register notify condition
      tags:
      - notify
  /accounts/{accountID}/notify/conditions/{conditionID}:
    delete:
      description: 通知条件を削除します
      operationId: deleteNotifyCondition
      parameters:
      - description: 対象の通知条件ID
        explode: false
        in: path
        name: conditionID
        required: true
        schema:
          type: integer
        style: simple
      - description: 対象のアカウントID
        explode: false
        in: path
        name: accountID
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: No Content
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Not Found
      summary: Delete notify condition
      tags:
      - notify
    get:
      description: 通知条件を取得します
      operationId: getNotifyCondition
      parameters:
      - description: 対象の通知条件ID
        explode: false
        in: path
        name: conditionID
        required: true
        schema:
          type: integer
        style: simple
      - description: 対象のアカウントID
        explode: false
        in: path
        name: accountID
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotifyConditionStruct'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Not Found
      summary: Get notify condition
      tags:
      - notify
    patch:
      description: 通知条件を編集します
      operationId: editNotifyCondition
      parameters:
      - description: 対象の通知条件ID
        explode: false
        in: path
        name: conditionID
        required: true
        schema:
          type: integer
        style: simple
      - description: 対象のアカウントID
        explode: false
        in: path
        name: accountID
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotifyConditionStruct'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotifyConditionStruct'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Not Found
      summary: Edit notify condition
      tags:
      - notify
  /accounts/{accountID}/timeline:
    get:
      description: フォロー中の絵師ID一覧を取得します
      operationId: getFollowingArtists
      parameters:
      - description: 対象のアカウントID
        explode: false
        in: path
        name: accountID
        required: true
        schema:
          type: integer
        style: simple
      - description: ソート方法 l:いいね数順 d:投稿日順
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: d
          enum:
          - l
          - d
          example: d
          type: string
        style: form
      - description: ソート方向 d:降順(大→小) a:昇順(小→大)
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: d
          enum:
          - d
          - a
          example: d
          maxLength: 1
          minLength: 1
          type: string
        style: form
      - description: 'ページ番号 (NOTE: 1ページ辺りの応答は20件)'
        explode: true
        in: query
        name: page
        required: false
        schema:
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTimelineFollowingResponse'
          description: OK
      summary: Get timeline followings
      tags:
      - timeline
  /accounts/{accountID}/timeline/follow:
    post:
      description: 絵師をフォローします
      operationId: followArtist
      parameters:
      - description: 対象のアカウントID
        explode: false
        in: path
        name: accountID
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LightArtistStruct'
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: No Content
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Conflict
      summary: Follow artist
      tags:
      - timeline
  /accounts/{accountID}/timeline/unfollow:
    post:
      description: 絵師のフォローを解除します
      operationId: unfollowArtist
      parameters:
      - description: 対象のアカウントID
        explode: false
        in: path
        name: accountID
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LightArtistStruct'
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: No Content
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Conflict
      summary: Unfollow artist
      tags:
      - timeline
  /accounts/{accountID}/upload_history:
    get:
      description: イラスト投稿履歴を取得します
      operationId: getUploadHistory
      parameters:
      - description: 取得したいユーザーのアカウントID
        explode: false
        in: path
        name: accountID
        required: true
        schema:
          type: integer
        style: simple
      - description: 'ページ番号 (NOTE: 1ページ辺りの応答は20件)'
        explode: true
        in: query
        name: page
        required: false
        schema:
          minimum: 1
          type: integer
        style: form
      - description: ソート方法 d:最終更新
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - d
          example: d
          maxLength: 1
          minLength: 1
          type: string
        style: form
      - description: ソート方向 d:降順(大→小) a:昇順(小→大)
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: d
          enum:
          - d
          - a
          example: d
          maxLength: 1
          minLength: 1
          type: string
        style: form
      - description: 1ページ辺りの要素数
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          enum:
          - 20
          - 40
          - 60
          - 80
          - 100
          example: 20
          maximum: 100
          minimum: 20
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUploadHistoryResponse'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
          description: Not Found
      summary: Get upload history
      tags:
      - accounts
components:
  parameters:
    SearchQueryMylistAllow:
      description: マイリスト追加済みかを取得する0/1 (デフォルト1)
      explode: true
      in: query
      name: with_mylisted
      required: false
      schema:
        default: 1
        enum:
        - 1
        - 0
        example: 1
        format: int32
        maximum: 1
        minimum: 0
        type: integer
      style: form
    SearchQueryMylistDeny:
      description: マイリスト追加済みかを取得する0/1 (デフォルト0)
      explode: true
      in: query
      name: with_mylisted
      required: false
      schema:
        default: 0
        enum:
        - 0
        - 1
        example: 0
        maximum: 1
        minimum: 0
        type: integer
      style: form
    SearchQueryOrder:
      description: ソート方向 d:降順(大→小) a:昇順(小→大)
      explode: true
      in: query
      name: order
      required: false
      schema:
        default: d
        enum:
        - d
        - a
        example: d
        maxLength: 1
        minLength: 1
        type: string
      style: form
    SearchQueryPage:
      description: 'ページ番号 (NOTE: 1ページ辺りの応答は20件)'
      explode: true
      in: query
      name: page
      required: false
      schema:
        minimum: 1
        type: integer
      style: form
    SearchQueryPerPage:
      description: 1ページ辺りの要素数
      explode: true
      in: query
      name: per_page
      required: false
      schema:
        default: 20
        enum:
        - 20
        - 40
        - 60
        - 80
        - 100
        example: 20
        maximum: 100
        minimum: 20
        type: integer
      style: form
    SearchQuerySort:
      description: ソート方法 l:いいね数順 d:投稿日順
      explode: true
      in: query
      name: sort
      required: false
      schema:
        default: d
        enum:
        - l
        - d
        example: d
        type: string
      style: form
    SearchQuerySortCatalog:
      description: ソート方法 c:ヒット数 d:最終更新 l:いいね数 n:名前
      explode: true
      in: query
      name: sort
      required: false
      schema:
        default: d
        enum:
        - c
        - d
        - l
        - "n"
        example: d
        type: string
      style: form
  schemas:
    AccountStruct:
      description: アカウントの取得/編集に使う構造体
      example:
        access:
          canApprovePost: false
          canCreatePost: true
          canInvite: true
          canLike: true
          canEditPost: false
          canComment: true
        apiKey: DUMMY_API_KEY
        apiSeq: 1
        mail: dsgamer777@gmail.com
        ipfs:
          pinEnabled: false
          gatewayUrl: https://cloudflare-ipfs.com
          nodeEnabled: false
          nodeUrl: nodeUrl
          gatewayEnabled: false
        oldPassword: h0t0c0c0a
        description: 開発者さん
        permission: 0
        totpEnabled: false
        notify:
          hasWebNotify: false
          hasLineNotify: false
        accountID: 1
        password: kafuuch1n0
        name: お窓
        inviter:
          accountID: 1
          name: お窓
        invite:
          invitedCount: 0
          code: USAGIDEV
          inviteID: 1
        displayID: omado
        favorite: 1
      properties:
        access:
          $ref: '#/components/schemas/AccountStruct_access'
        accountID:
          description: ユーザーID
          example: 1
          type: integer
        apiKey:
          description: APIキー
          example: DUMMY_API_KEY
          type: string
        apiSeq:
          description: 長期間有効トークン検証用シーケンス
          example: 1
          minimum: 1
          type: integer
        description:
          description: 他のユーザーに表示されるユーザー説明文/投稿者説明
          example: 開発者さん
          type: string
        displayID:
          description: (Twitterのような)表示IDを指定します。ここで指定したIDがログインに使用されます。英数字のみ入力できます。
          example: omado
          maxLength: 20
          minLength: 3
          type: string
        favorite:
          description: ユーザーの推しキャラ(タグID)を選択します
          example: 1
          minimum: 0
          type: integer
        invite:
          $ref: '#/components/schemas/AccountStruct_invite'
        inviter:
          $ref: '#/components/schemas/LightAccountStruct'
        ipfs:
          $ref: '#/components/schemas/AccountStruct_ipfs'
        mail:
          description: ユーザーのメールアドレス(連絡用)
          example: dsgamer777@gmail.com
          format: email
          maxLength: 150
          minLength: 1
          type: string
        name:
          description: 他のユーザーに表示されるユーザー名/投稿者名
          example: お窓
          maxLength: 20
          minLength: 1
          type: string
        notify:
          $ref: '#/components/schemas/AccountStruct_notify'
        oldPassword:
          description: |-
            現時点のパスワードを入力します。
            userPasswordを変更する場合に必要となります。
          example: h0t0c0c0a
          format: password
          maxLength: 50
          minLength: 8
          type: string
        password:
          description: 新しいパスワードを入力します
          example: kafuuch1n0
          format: password
          maxLength: 50
          minLength: 8
          type: string
        permission:
          default: 0
          description: 権限レベル 0:普通 5:Modelator 9:SysOp
          example: 0
          minimum: 0
          type: integer
        totpEnabled:
          default: false
          description: TOTPが有効かが入ります
          type: boolean
      title: AccountStruct
      type: object
      x-examples:
        example-admin:
          access:
            canApprovePost: true
            canComment: true
            canCreatePost: true
            canEditPost: true
            canInvite: true
            canLike: true
          accountID: 1
          apiKey: DUMMY_ADMIN_API_KEY
          apiSeq: 1
          description: 開発者さん
          displayID: omado
          favorite: 1
          invite:
            code: USAGIDEV
            inviteID: 1
            invitedCount: 0
          inviter:
            accountID: 1
            name: お窓
          ipfs:
            gatewayEnabled: false
            gatewayUrl: https://cloudflare-ipfs.com
            nodeEnabled: false
            nodeUrl: ""
            pinEnabled: true
          mail: dsgamer777@gmail.com
          name: お窓
          notify:
            hasLineNotify: false
            hasWebNotify: false
          oldPassword: h0t0c0c0a
          password: kafuuch1n0
          permission: 9
          totpEnabled: false
        example-user:
          access:
            canApprovePost: false
            canComment: true
            canCreatePost: true
            canEditPost: false
            canInvite: true
            canLike: true
          accountID: 2
          apiKey: DUMMY_API_KEY
          apiSeq: 1
          description: ラビットハウスの一人娘。クールな性格だがココアのことは嫌いじゃない…!? コーヒーに詳しいしっかり者。
          displayID: chino
          favorite: 1
          invite:
            code: USAGIDEV
            inviteID: 1
            invitedCount: 0
          inviter:
            accountID: 1
            name: お窓
          ipfs:
            gatewayEnabled: false
            gatewayUrl: https://cloudflare-ipfs.com
            nodeEnabled: false
            nodeUrl: ""
            pinEnabled: false
          mail: dsgamer777@gmail.com
          name: 香風智乃
          notify:
            hasLineNotify: false
            hasWebNotify: false
          oldPassword: kafuuch1n0
          password: h0t0c0c0a
          permission: 0
          totpEnabled: false
    GeneralMessageResponse:
      description: 共通の応答構造体(404/401/400等を返す際に使用)
      example:
        message: message
      properties:
        message:
          description: 応答メッセージ(何が間違っているかの詳細)
          minLength: 1
          type: string
      required:
      - message
      title: GeneralMessageResponse
      type: object
      x-examples:
        bad-request:
          message: Your request body is wrong.
        locked:
          message: Specified content is referenced from other content.
        no-permission:
          message: You don't have enough permission to do it.
        not-found:
          message: Specified content was not found.
    GetMutesResponse:
      description: ミュート情報一覧の応答構造体
      example:
        artists:
        - accountID: 1
          muteID: 1
          targetID: 1
          targetType: tag
        - accountID: 1
          muteID: 1
          targetID: 1
          targetType: tag
        tags:
        - accountID: 1
          muteID: 1
          targetID: 1
          targetType: tag
        - accountID: 1
          muteID: 1
          targetID: 1
          targetType: tag
      properties:
        artists:
          description: ミュート中の絵師ID配列
          items:
            $ref: '#/components/schemas/MuteStruct'
          type: array
        tags:
          description: ミュート中のタグID配列
          items:
            $ref: '#/components/schemas/MuteStruct'
          type: array
      required:
      - artists
      - tags
      title: GetMutesResponse
      type: object
      x-examples:
        example:
          artists: []
          tags:
          - accountID: 1
            muteID: 1
            targetID: 1
            targetType: tag
    GetMylistListResponse:
      description: マイリスト情報一覧の応答構造体
      example:
        pagination:
          current: 1
          pages: 1
          perPage: 20
          count: 1
          title: 香風智乃
          type: tag
        contents:
        - owner:
            accountID: 1
            name: お窓
          private: true
          createdDate: 2021-03-14T02:16:03Z
          name: お窓のマイリスト
          description: ユーザーデフォルトマイリスト
          updatedDate: 2021-03-14T02:16:03Z
          arts:
          - nsfw: false
            caption: Ｃ８９の新刊表紙となっていますっ
            mylists: 0
            title: 魔法少女は深淵になにをみるか？
            artID: 1
            datetime: 2015-12-27T07:29:00Z
            mylisted: false
            file:
              ipfsHash:
                orig: QmYQvXHGoiTdJuFLQWXQpMBz9V4254gNixLjPjMB2T4g5Y
                thumb: QmYQvXHGoiTdJuFLQWXQpMBz9V4254gNixLjPjMB2T4g5Y
            artists:
            - name: 彩電
              artistID: 1
            - name: 彩電
              artistID: 1
            similarity: 0.08008281904610115
            uploader:
              accountID: 1
              name: お窓
            originUrl: https://www.pixiv.net/artworks/54265978
            originService: Pixiv
            page: 1
            views: 0
            likes: 0
          - nsfw: false
            caption: Ｃ８９の新刊表紙となっていますっ
            mylists: 0
            title: 魔法少女は深淵になにをみるか？
            artID: 1
            datetime: 2015-12-27T07:29:00Z
            mylisted: false
            file:
              ipfsHash:
                orig: QmYQvXHGoiTdJuFLQWXQpMBz9V4254gNixLjPjMB2T4g5Y
                thumb: QmYQvXHGoiTdJuFLQWXQpMBz9V4254gNixLjPjMB2T4g5Y
            artists:
            - name: 彩電
              artistID: 1
            - name: 彩電
              artistID: 1
            similarity: 0.08008281904610115
            uploader:
              accountID: 1
              name: お窓
            originUrl: https://www.pixiv.net/artworks/54265978
            originService: Pixiv
            page: 1
            views: 0
            likes: 0
          mylistID: 1
        - owner:
            accountID: 1
            name: お窓
          private: true
          createdDate: 2021-03-14T02:16:03Z
          name: お窓のマイリスト
          description: ユーザーデフォルトマイリスト
          updatedDate: 2021-03-14T02:16:03Z
          arts:
          - nsfw: false
            caption: Ｃ８９の新刊表紙となっていますっ
            mylists: 0
            title: 魔法少女は深淵になにをみるか？
            artID: 1
            datetime: 2015-12-27T07:29:00Z
            mylisted: false
            file:
              ipfsHash:
                orig: QmYQvXHGoiTdJuFLQWXQpMBz9V4254gNixLjPjMB2T4g5Y
                thumb: QmYQvXHGoiTdJuFLQWXQpMBz9V4254gNixLjPjMB2T4g5Y
            artists:
            - name: 彩電
              artistID: 1
            - name: 彩電
              artistID: 1
            similarity: 0.08008281904610115
            uploader:
              accountID: 1
              name: お窓
            originUrl: https://www.pixiv.net/artworks/54265978
            originService: Pixiv
            page: 1
            views: 0
            likes: 0
          - nsfw: false
            caption: Ｃ８９の新刊表紙となっていますっ
            mylists: 0
            title: 魔法少女は深淵になにをみるか？
            artID: 1
            datetime: 2015-12-27T07:29:00Z
            mylisted: false
            file:
              ipfsHash:
                orig: QmYQvXHGoiTdJuFLQWXQpMBz9V4254gNixLjPjMB2T4g5Y
                thumb: QmYQvXHGoiTdJuFLQWXQpMBz9V4254gNixLjPjMB2T4g5Y
            artists:
            - name: 彩電
              artistID: 1
            - name: 彩電
              artistID: 1
            similarity: 0.08008281904610115
            uploader:
              accountID: 1
              name: お窓
            originUrl: https://www.pixiv.net/artworks/54265978
            originService: Pixiv
            page: 1
            views: 0
            likes: 0
          mylistID: 1
      properties:
        contents:
          items:
            $ref: '#/components/schemas/MylistStruct'
          minItems: 1
          type: array
          uniqueItems: true
        pagination:
          $ref: '#/components/schemas/PaginationStruct'
      required:
      - contents
      - pagination
      title: GetMylistListResponse
      type: object
      x-examples:
        example:
          contents:
          - arts:
            - artID: 1
              artists:
              - artistID: 1
                name: 彩電
              caption: Ｃ８９の新刊表紙となっていますっ
              datetime: 2015-12-27T07:29:00Z
              file:
                ipfsHash:
                  orig: QmYQvXHGoiTdJuFLQWXQpMBz9V4254gNixLjPjMB2T4g5Y
                  thumb: QmYQvXHGoiTdJuFLQWXQpMBz9V4254gNixLjPjMB2T4g5Y
              likes: 0
              mylisted: false
              mylists: 0
              nsfw: false
              originService: Pixiv
              originUrl: https://www.pixiv.net/artworks/54265978
              page: 1
              similarity: 0
              title: 魔法少女は深淵になにをみるか？
              uploader:
                accountID: 1
                name: お窓
              views: 0
            createdDate: 2021-03-14T02:16:03Z
            description: string
            mylistID: 1
            name: お窓のマイリスト
            owner:
              accountID: 1
              name: お窓
            private: true
            updatedDate: 2021-03-14T02:16:03Z
          pagination:
            count: 1
            current: 1
            pages: 1
            perPage: 20
            title: マイリスト一覧
            type: mylist
    GetNotifyClientsResponse:
      description: 通知クライアント情報一覧の応答構造体
      example:
        clients:
        - accountID: 1
          level: 5
          name: ChinoPhone
          notifyClientID: 1
          type: webpush
        - accountID: 1
          level: 5
          name: ChinoPhone
          notifyClientID: 1
          type: webpush
      properties:
        clients:
          items:
            $ref: '#/components/schemas/NotifyClientStruct'
          type: array
      title: GetNotifyClientsResponse
      type: object
      x-examples:
        example:
          clients:
          - level: 5
            name: ChinoPhone
            notifyClientID: 1
            type: webpush
    GetNotifyConditionsResponse:
      description: 通知条件情報一覧の応答構造体
      example:
        pagination:
          current: 1
          pages: 1
          perPage: 20
          count: 1
          title: 香風智乃
          type: tag
        conditions:
        - accountID: 1
          targetID: 1
          notifyConditionID: 1
          targetMethod: all
          targetClient: -1
          targetType: tag
        - accountID: 1
          targetID: 1
          notifyConditionID: 1
          targetMethod: all
          targetClient: -1
          targetType: tag
      properties:
        conditions:
          items:
            $ref: '#/components/schemas/NotifyConditionStruct'
          type: array
        pagination:
          $ref: '#/components/schemas/PaginationStruct'
      title: GetNotifyConditionsResponse
      type: object
      x-examples:
        example:
          conditions:
          - accountID: 1
            notifyConditionID: 1
            targetClient: -1
            targetID: 1
            targetMethod: all
            targetType: tag
          pagination:
            count: 1
            current: 1
            pages: 1
            perPage: 20
            title: 通知条件一覧
            type: notify-condition
    GetTimelineFollowingResponse:
      description: タイムラインのフォロー一覧の応答構造体
      example:
        pagination:
          current: 1
          pages: 1
          perPage: 20
          count: 1
          title: 香風智乃
          type: tag
        follows:
        - name: 彩電
          artistID: 1
        - name: 彩電
          artistID: 1
      properties:
        follows:
          items:
            $ref: '#/components/schemas/LightArtistStruct'
          type: array
        pagination:
          $ref: '#/components/schemas/PaginationStruct'
      title: GetTimelineFollowingResponse
      type: object
      x-examples:
        example:
          follows:
          - artistID: 1
            name: 彩電
          pagination:
            count: 1
            current: 1
            pages: 1
            perPage: 20
            title: フォロー一覧
            type: follow
    GetUploadHistoryResponse:
      description: 投稿履歴情報一覧の応答構造体
      example:
        pagination:
          current: 1
          pages: 1
          perPage: 20
          count: 1
          title: 香風智乃
          type: tag
        contents:
        - accountID: 1
          artID: 1
          uploadID: 1
          finished: 2021-02-21 22:24:27
          started: 2021-02-21 22:24:22
          status: 5
        - accountID: 1
          artID: 1
          uploadID: 1
          finished: 2021-02-21 22:24:27
          started: 2021-02-21 22:24:22
          status: 5
      properties:
        contents:
          description: |-
            指定された範囲で一致するデータ
            一致するものがなければ空配列
          items:
            $ref: '#/components/schemas/UploadHistoryStruct'
          minItems: 0
          type: array
          uniqueItems: true
        pagination:
          $ref: '#/components/schemas/PaginationStruct'
      title: GetUploadHistoryResponse
      type: object
      x-examples:
        example:
          contents:
          - accountID: 1
            artID: 1
            finished: 2021-02-21 22:24:27
            started: 2021-02-21 22:24:22
            status: 5
            uploadID: 1
          pagination:
            count: 1
            current: 1
            pages: 1
            perPage: 20
            title: 投稿履歴一覧
            type: upload-history
    LightAccountStruct:
      description: アカウント情報の簡易構造体(読み取り専用)
      example:
        accountID: 1
        name: お窓
      properties:
        accountID:
          description: アカウントID
          example: 1
          minimum: 1
          type: integer
        name:
          description: アカウント名
          example: お窓
          type: string
      title: LightAccountStruct
      type: object
      x-examples:
        example:
          accountID: 1
          name: お窓
    LightArtStruct:
      description: イラスト情報の簡易構造体(読み取り専用)(検索結果等で利用)
      example:
        nsfw: false
        caption: Ｃ８９の新刊表紙となっていますっ
        mylists: 0
        title: 魔法少女は深淵になにをみるか？
        artID: 1
        datetime: 2015-12-27T07:29:00Z
        mylisted: false
        file:
          ipfsHash:
            orig: QmYQvXHGoiTdJuFLQWXQpMBz9V4254gNixLjPjMB2T4g5Y
            thumb: QmYQvXHGoiTdJuFLQWXQpMBz9V4254gNixLjPjMB2T4g5Y
        artists:
        - name: 彩電
          artistID: 1
        - name: 彩電
          artistID: 1
        similarity: 0.08008281904610115
        uploader:
          accountID: 1
          name: お窓
        originUrl: https://www.pixiv.net/artworks/54265978
        originService: Pixiv
        page: 1
        views: 0
        likes: 0
      properties:
        artID:
          description: イラストID
          example: 1
          minimum: 1
          type: integer
        artists:
          description: 絵師情報(複数可)
          items:
            $ref: '#/components/schemas/LightArtistStruct'
          type: array
        caption:
          description: |-
            説明文
            NOTE: 通常出典記載の説明文と同じ物が入る
          example: Ｃ８９の新刊表紙となっていますっ
          minLength: 1
          type: string
        datetime:
          description: 登録日(%Y-%m-%d %H:%M:%S)
          example: 2015-12-27T07:29:00Z
          format: date-time
          type: string
        file:
          $ref: '#/components/schemas/LightArtStruct_file'
        likes:
          default: 0
          description: 累計いいね数
          example: 0
          format: int64
          minimum: 0
          type: integer
        mylisted:
          default: false
          description: リクエストしたユーザーがマイリストしているか
          type: boolean
        mylists:
          default: 0
          description: マイリスト済みのユーザー数
          example: 0
          format: int64
          minimum: 0
          type: integer
        nsfw:
          default: false
          description: アダルトコンテンツか否か
          type: boolean
        originService:
          description: 出典のサービス名
          example: Pixiv
          minLength: 1
          type: string
        originUrl:
          description: 出典URL
          example: https://www.pixiv.net/artworks/54265978
          format: uri-reference
          minLength: 1
          type: string
        page:
          default: 1
          description: グループになっている場合のページ番号
          example: 1
          format: int32
          minimum: 1
          type: integer
        similarity:
          description: 元画像との類似度(画像検索のみ)
          maximum: 1
          minimum: 0
          type: number
        title:
          description: イラスト(作品)名
          example: 魔法少女は深淵になにをみるか？
          minLength: 1
          type: string
        uploader:
          $ref: '#/components/schemas/LightAccountStruct'
        views:
          default: 0
          description: 累計閲覧数
          example: 0
          format: int64
          minimum: 0
          type: integer
      title: LightArtStruct
      type: object
      x-examples:
        example:
          artID: 1
          artists:
          - artistID: 1
            name: 彩電
          caption: Ｃ８９の新刊表紙となっていますっ
          datetime: 2015-12-27T07:29:00Z
          file:
            ipfsHash:
              orig: QmYQvXHGoiTdJuFLQWXQpMBz9V4254gNixLjPjMB2T4g5Y
              thumb: QmYQvXHGoiTdJuFLQWXQpMBz9V4254gNixLjPjMB2T4g5Y
          likes: 0
          mylisted: false
          mylists: 0
          nsfw: false
          originService: Pixiv
          originUrl: https://www.pixiv.net/artworks/54265978
          page: 1
          similarity: 0
          title: 魔法少女は深淵になにをみるか？
          uploader:
            accountID: 1
            name: お窓
          views: 0
    LightArtistStruct:
      description: 絵師情報の簡易構造体(読み取り専用)
      example:
        name: 彩電
        artistID: 1
      properties:
        artistID:
          example: 1
          type: integer
        name:
          example: 彩電
          type: string
      title: LightArtistStruct
      type: object
      x-examples:
        example:
          artistID: 1
          name: 彩電
    MuteStruct:
      description: ミュート情報の構造体
      example:
        accountID: 1
        muteID: 1
        targetID: 1
        targetType: tag
      properties:
        accountID:
          description: 情報作成者のアカウントID
          example: 1
          minimum: 1
          type: integer
        muteID:
          description: ミュートID
          example: 1
          minimum: 1
          type: integer
        targetID:
          description: 対象のタグ/絵師ID
          example: 1
          minimum: 1
          type: integer
        targetType:
          description: ミュート種別
          enum:
          - tag
          - artist
          example: tag
          type: string
      title: MuteStruct
      type: object
      x-examples:
        example:
          accountID: 1
          muteID: 1
          targetID: 1
          targetType: tag
    MylistStruct:
      description: マイリスト情報の構造体
      example:
        owner:
          accountID: 1
          name: お窓
        private: true
        createdDate: 2021-03-14T02:16:03Z
        name: お窓のマイリスト
        description: ユーザーデフォルトマイリスト
        updatedDate: 2021-03-14T02:16:03Z
        arts:
        - nsfw: false
          caption: Ｃ８９の新刊表紙となっていますっ
          mylists: 0
          title: 魔法少女は深淵になにをみるか？
          artID: 1
          datetime: 2015-12-27T07:29:00Z
          mylisted: false
          file:
            ipfsHash:
              orig: QmYQvXHGoiTdJuFLQWXQpMBz9V4254gNixLjPjMB2T4g5Y
              thumb: QmYQvXHGoiTdJuFLQWXQpMBz9V4254gNixLjPjMB2T4g5Y
          artists:
          - name: 彩電
            artistID: 1
          - name: 彩電
            artistID: 1
          similarity: 0.08008281904610115
          uploader:
            accountID: 1
            name: お窓
          originUrl: https://www.pixiv.net/artworks/54265978
          originService: Pixiv
          page: 1
          views: 0
          likes: 0
        - nsfw: false
          caption: Ｃ８９の新刊表紙となっていますっ
          mylists: 0
          title: 魔法少女は深淵になにをみるか？
          artID: 1
          datetime: 2015-12-27T07:29:00Z
          mylisted: false
          file:
            ipfsHash:
              orig: QmYQvXHGoiTdJuFLQWXQpMBz9V4254gNixLjPjMB2T4g5Y
              thumb: QmYQvXHGoiTdJuFLQWXQpMBz9V4254gNixLjPjMB2T4g5Y
          artists:
          - name: 彩電
            artistID: 1
          - name: 彩電
            artistID: 1
          similarity: 0.08008281904610115
          uploader:
            accountID: 1
            name: お窓
          originUrl: https://www.pixiv.net/artworks/54265978
          originService: Pixiv
          page: 1
          views: 0
          likes: 0
        mylistID: 1
      properties:
        arts:
          description: イラストID一覧
          items:
            $ref: '#/components/schemas/LightArtStruct'
          type: array
        createdDate:
          description: マイリスト作成日時
          example: 2021-03-14T02:16:03Z
          format: date-time
          type: string
        description:
          description: マイリスト説明文
          example: ユーザーデフォルトマイリスト
          type: string
        mylistID:
          description: マイリストID
          example: 1
          minimum: 1
          type: integer
        name:
          description: マイリスト名
          example: お窓のマイリスト
          minLength: 1
          type: string
        owner:
          $ref: '#/components/schemas/LightAccountStruct'
        private:
          default: true
          description: 公開/非公開
          type: boolean
        updatedDate:
          description: マイリスト更新日時
          example: 2021-03-14T02:16:03Z
          format: date-time
          type: string
      title: MylistStruct
      type: object
      x-examples:
        example:
          arts:
          - artID: 0
            artists:
            - artistID: 1
              name: 彩電
            caption: string
            datetime: 2021-01-07 12:48:42
            file:
              ipfsHash:
                orig: string
                thumb: string
            likes: 0
            mylisted: true
            mylists: 0
            nsfw: true
            originService: string
            originUrl: string
            page: 0
            similarity: 0
            title: string
            uploader:
              accountID: 1
              name: お窓
            views: 0
          createdDate: 2021-03-14T02:16:03Z
          description: ユーザーデフォルトマイリスト
          mylistID: 1
          name: お窓のマイリスト
          owner:
            accountID: 1
            name: お窓
          private: true
          updatedDate: 2021-03-14T02:16:03Z
    NotifyClientStruct:
      description: 通知クライアント情報の構造体
      example:
        accountID: 1
        level: 5
        name: ChinoPhone
        notifyClientID: 1
        type: webpush
      properties:
        accountID:
          description: 情報作成者のアカウントID
          example: 1
          minimum: 1
          type: integer
        level:
          default: 5
          description: 通知レベル 1:緊急時のみ 5:タグ絵師通知のみ 9:すべて
          enum:
          - 1
          - 5
          - 9
          example: 5
          format: int32
          maximum: 9
          minimum: 1
          type: integer
        name:
          description: ユーザーが指定した通知クライアント名
          example: ChinoPhone
          maxLength: 30
          minLength: 1
          type: string
        notifyClientID:
          description: 通知クライアントID
          example: 1
          minimum: 1
          type: integer
        type:
          default: webpush
          description: クライアント種別
          enum:
          - webpush
          - linenotify
          example: webpush
          maxLength: 20
          minLength: 1
          type: string
      title: NotifyClientStruct
      type: object
      x-examples:
        example:
          accountID: 1
          level: 5
          name: ChinoPhone
          notifyClientID: 1
          type: webpush
    NotifyConditionStruct:
      description: 通知条件情報の構造体
      example:
        accountID: 1
        targetID: 1
        notifyConditionID: 1
        targetMethod: all
        targetClient: -1
        targetType: tag
      properties:
        accountID:
          description: 情報作成者のアカウントID
          example: 1
          minimum: 1
          type: integer
        notifyConditionID:
          description: NotifyConditionID
          example: 1
          minimum: 1
          type: integer
        targetClient:
          default: -1
          description: 対象の通知クライアント(ターゲットが全てなら-1)
          example: -1
          format: int32
          minimum: -1
          type: integer
        targetID:
          default: 0
          description: 条件ID 全通知なら0/タグID/絵師ID
          example: 1
          minimum: 0
          type: integer
        targetMethod:
          default: all
          description: 通知方法
          enum:
          - all
          - webpush
          - linenotify
          example: all
          maxLength: 30
          minLength: 1
          type: string
        targetType:
          default: tag
          description: 条件種別
          enum:
          - all
          - tag
          - artist
          example: tag
          maxLength: 10
          minLength: 1
          type: string
      title: NotifyConditionStruct
      type: object
      x-examples:
        example:
          accountID: 1
          notifyConditionID: 1
          targetClient: -1
          targetID: 1
          targetMethod: all
          targetType: tag
    PaginationStruct:
      description: ページネーション情報の構造体
      example:
        current: 1
        pages: 1
        perPage: 20
        count: 1
        title: 香風智乃
        type: tag
      properties:
        count:
          default: 0
          description: ヒット総数
          example: 1
          minimum: 0
          type: integer
        current:
          default: 1
          description: 現在のページ
          example: 1
          minimum: 1
          type: integer
        pages:
          default: 1
          description: ページ数
          example: 1
          minimum: 1
          type: integer
        perPage:
          default: 20
          description: ページ毎の取得数
          enum:
          - 20
          - 40
          - 60
          - 80
          - 100
          example: 20
          format: int32
          maximum: 100
          minimum: 20
          type: integer
        title:
          description: ページネーションタイトル(表示用)
          example: 香風智乃
          minLength: 1
          type: string
        type:
          default: tag
          description: ページネーション種別(表示用)
          enum:
          - artist
          - tag
          - uploader
          - notify-client
          - notify-condition
          - mute
          - follow
          - article
          - mylist-list
          - art
          - upload-history
          example: tag
          type: string
      required:
      - count
      - current
      - pages
      - perPage
      - title
      - type
      title: PaginationStruct
      type: object
      x-examples:
        example:
          count: 1
          current: 1
          pages: 1
          perPage: 20
          title: 香風智乃
          type: tag
    PostLoginWithFormRequest:
      description: ログインする際に利用される要求構造体
      example:
        password: password
        id: id
        totpCode: totpCode
      properties:
        id:
          description: ログインID
          minLength: 1
          type: string
        password:
          description: ログインパスワード
          minLength: 1
          type: string
        totpCode:
          description: ログインTOTPトークン
          type: string
      required:
      - id
      - password
      title: PostLoginWithFormRequest
      type: object
      x-examples:
        admin:
          id: omado
          password: kafuuch1n0
        user:
          id: chino
          password: h0t0c0c0a
    PostLoginWithFormResponse:
      description: ログインに成功した際に利用される応答構造体
      example:
        apiKey: apiKey
      properties:
        apiKey:
          minLength: 1
          type: string
      title: PostLoginWithFormResponse
      type: object
      x-examples:
        example:
          apiKey: DUMMY_API_KEY
    PostRegisterLineNotifyRequest:
      description: LineNotifyのトークンを登録する際の要求構造体
      example:
        level: 5
        name: 1対1で受け取る
        token: DUMMY_LINE_NOTIFY_TOKEN_BEARER
      properties:
        level:
          default: 5
          description: 通知レベル 1:緊急時のみ 5:タグ絵師通知のみ 9:すべて
          enum:
          - 1
          - 5
          - 9
          example: 5
          format: int32
          maximum: 9
          minimum: 1
          type: integer
        name:
          description: 通知クライアント名
          example: 1対1で受け取る
          type: string
        token:
          description: LineNotifyのパーソナルトークン
          example: DUMMY_LINE_NOTIFY_TOKEN_BEARER
          maxLength: 120
          minLength: 30
          type: string
      required:
      - level
      - name
      - token
      title: PostRegisterLineNotifyRequest
      type: object
      x-examples:
        example:
          level: 5
          name: 1対1で受け取る
          token: DUMMY_LINE_NOTIFY_TOKEN_BEARER
    PostRegisterWebPushRequest:
      description: WebPushのトークンを登録する際の要求構造体
      example:
        endpoint: https://example.com/webpush/endpoint
        auth: DUMMY_AUTH_TOKEN
        level: 5
        name: ChinoLaptop
        p256dh: DUMMY_PUBLIC_KEY
      properties:
        auth:
          description: WebPushの通知送信認証キー
          example: DUMMY_AUTH_TOKEN
          maxLength: 200
          minLength: 10
          type: string
        endpoint:
          description: WebPushのPOST先エンドポイント(ユーザー毎に異なる)
          example: https://example.com/webpush/endpoint
          format: uri-reference
          maxLength: 200
          minLength: 1
          type: string
        level:
          default: 5
          description: 通知レベル 1:緊急時のみ 5:タグ絵師通知のみ 9:すべて
          enum:
          - 1
          - 5
          - 9
          example: 5
          format: int32
          maximum: 9
          minimum: 1
          type: integer
        name:
          description: 通知クライアント名
          example: ChinoLaptop
          maxLength: 30
          minLength: 1
          type: string
        p256dh:
          description: ブラウザ公開鍵
          example: DUMMY_PUBLIC_KEY
          maxLength: 200
          minLength: 10
          type: string
      required:
      - auth
      - endpoint
      - level
      - name
      - p256dh
      title: PostRegisterWebPushRequest
      type: object
      x-examples:
        example:
          auth: DUMMY_AUTH_TOKEN
          endpoint: https://example.com/webpush/endpoint
          level: 5
          name: ChinoLaptop
          p256dh: DUMMY_PUBLIC_KEY
    PostResetPasswordRequest:
      description: パスワードをリセットする際に使う要求構造体
      example:
        mail: mail
      properties:
        mail:
          description: メールアドレス(のみ)
          type: string
      title: PostResetPasswordRequest
      type: object
      x-examples:
        admin:
          mail: dsgamer777@gmail.com
    UploadHistoryStruct:
      description: 投稿履歴の応答構造体
      example:
        accountID: 1
        artID: 1
        uploadID: 1
        finished: 2021-02-21 22:24:27
        started: 2021-02-21 22:24:22
        status: 5
      properties:
        accountID:
          description: 情報作成者のアカウントID
          example: 1
          minimum: 1
          type: integer
        artID:
          description: 投稿に成功した場合入るID
          example: 1
          format: int32
          minimum: 1
          type: integer
        finished:
          description: データ登録完了時刻
          example: 2021-02-21 22:24:27
          maxLength: 19
          minLength: 19
          type: string
        started:
          description: データ登録処理開始時刻
          example: 2021-02-21 22:24:22
          maxLength: 19
          minLength: 19
          type: string
        status:
          default: 0
          description: 登録処理結果 5:成功 9:内部エラー
          enum:
          - 0
          - 5
          - 9
          example: 5
          maximum: 9
          minimum: 0
          type: integer
        uploadID:
          description: 通し投稿履歴番号(インデックス用)
          example: 1
          format: int32
          minimum: 1
          type: integer
      required:
      - accountID
      - artID
      - finished
      - started
      - status
      - uploadID
      title: UploadHistory
      type: object
      x-examples:
        example:
          accountID: 1
          artID: 9381
          finished: 2021-02-21 22:24:27
          started: 2021-02-21 22:24:22
          status: 5
          uploadID: 12045
    AccountStruct_access:
      description: 管理者権限とは別の細かな権限
      example:
        canApprovePost: false
        canCreatePost: true
        canInvite: true
        canLike: true
        canEditPost: false
        canComment: true
      properties:
        canApprovePost:
          default: false
          description: 投稿を承認できるか
          type: boolean
        canComment:
          default: true
          description: コメントできるか
          type: boolean
        canCreatePost:
          default: true
          description: 投稿できるか
          type: boolean
        canEditPost:
          default: false
          description: 投稿を編集できるか
          type: boolean
        canInvite:
          default: true
          description: 招待できるか
          type: boolean
        canLike:
          default: true
          description: いいねできるか
          type: boolean
      type: object
    AccountStruct_invite:
      description: 招待情報
      example:
        invitedCount: 0
        code: USAGIDEV
        inviteID: 1
      properties:
        code:
          description: 招待コード(shortuuid)
          example: USAGIDEV
          maxLength: 12
          minLength: 6
          type: string
        inviteID:
          description: 招待通し番号
          example: 1
          type: integer
        invitedCount:
          default: 0
          description: 招待した人数の累計(誰を招待したかは表示されない)
          example: 0
          minimum: 0
          type: integer
      type: object
    AccountStruct_ipfs:
      description: IPFS設定
      example:
        pinEnabled: false
        gatewayUrl: https://cloudflare-ipfs.com
        nodeEnabled: false
        nodeUrl: nodeUrl
        gatewayEnabled: false
      properties:
        gatewayEnabled:
          default: false
          description: IPFSゲートウェイを使用するか否か
          type: boolean
        gatewayUrl:
          default: https://cloudflare-ipfs.com
          description: 使用する任意のゲートウェイアドレス
          example: https://cloudflare-ipfs.com
          format: uri-reference
          type: string
        nodeEnabled:
          default: false
          description: IPFSノードを使用するか否か
          type: boolean
        nodeUrl:
          description: 使用する任意のノードアドレス
          format: uri-reference
          type: string
        pinEnabled:
          default: false
          description: マイリストを自動Pinningするか
          type: boolean
      type: object
    AccountStruct_notify:
      description: 通知クライアントを設定済みか
      example:
        hasWebNotify: false
        hasLineNotify: false
      properties:
        hasLineNotify:
          default: false
          type: boolean
        hasWebNotify:
          default: false
          type: boolean
      type: object
    LightArtStruct_file_ipfsHash:
      description: IPFSのハッシュ情報
      example:
        orig: QmYQvXHGoiTdJuFLQWXQpMBz9V4254gNixLjPjMB2T4g5Y
        thumb: QmYQvXHGoiTdJuFLQWXQpMBz9V4254gNixLjPjMB2T4g5Y
      properties:
        orig:
          description: Raw画像ハッシュ
          example: QmYQvXHGoiTdJuFLQWXQpMBz9V4254gNixLjPjMB2T4g5Y
          maxLength: 100
          type: string
        thumb:
          description: サムネイルハッシュ
          example: QmYQvXHGoiTdJuFLQWXQpMBz9V4254gNixLjPjMB2T4g5Y
          maxLength: 100
          type: string
      type: object
    LightArtStruct_file:
      example:
        ipfsHash:
          orig: QmYQvXHGoiTdJuFLQWXQpMBz9V4254gNixLjPjMB2T4g5Y
          thumb: QmYQvXHGoiTdJuFLQWXQpMBz9V4254gNixLjPjMB2T4g5Y
      properties:
        ipfsHash:
          $ref: '#/components/schemas/LightArtStruct_file_ipfsHash'
      type: object
  securitySchemes:
    Authorization:
      scheme: bearer
      type: http
